<div class="container">
  <h2>Manage Pets</h2>
  <div class="pull-right">
    <button (click)="add();"><span class="glyphicon glyphicon-plus"></span> Add New Pet</button>
    <button (click)="logout();"><span class="glyphicon glyphicon-plus"></span> Logout</button>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of pets"
          (click)="gotoDetail(pet)">
        <td>{{pet.id}}</td>
        <td>{{pet.title}}</td>
        <td>{{pet.petType}}</td>
        <td>{{pet.purchasePrice}}</td>
      </tr>
    </tbody>
  </table>
</div>
